<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>TODO app</title>
    <link type="text/css" href="css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="col-lg-7 col-lg-offset-3">

    <h1>Backbone TODO app</h1><hr>

    <div class="input-group">
        <input type="text" class="form-control input-job" placeholder="Enter your job here ...">
        <span class="input-group-btn">
            <button class="btn btn-primary add-job" type="button">Add</button>
        </span>
    </div><hr>

    <div class="jobs-template">

    </div>

    <hr>
    <div>
        <button class="btn btn-danger delete-all">Delete finished</button>
    </div>
</div>
<!--<script type="text/template" class="status-template">-->
    <!--<div class="input-group" style="margin: 4px">-->
        <!--<div><%= done %></div>-->
    <!--</div>-->
<!--</script>-->

<script type="text/template" class="job-template">
    <div class="input-group" style="margin: 4px">
        <span class="input-group-addon">
            <input type="checkbox" class="check-job" <%= done ? 'checked="checked"' : '' %> >
        </span>
        <div class="job"><div class="form-control job-text" style="color:#000000"><%= job %></div></div>
        <span class="input-group-btn">

            <button class="btn btn-primary update-job" type="button" style="display: none">Update</button>
            <button class="btn btn-success cancel-job" type="button" style="display: none">Cancel</button>
            <button class="btn btn-danger delete-job" type="button">Delete</button>
        </span>
    </div>
</script>

<script src="js/jquery-2.1.4.min.js"></script>
<script src="js/underscore-min.js"></script>
<script src="js/backbone-min.js"></script>
<script src="home.js"></script>
</body>
